@model int

@{
    ViewData["Title"] = "Problema encontrado";
}

<div class="jumbotron">
    <h1>Error @Model happened!</h1>
    <a class="btn btn-outline-primary" asp-action="Index">Back to home</a>
</div>
